::-moz-selection {
	color: #333;
	background: #a8e2dc;
}

::selection {
	color: #333;
	background: #fbeb78;
}

body {
	background: #fff;
	color: #313131;
}

h1, h2, h3, h4, h5, h6 {
	color: #312f2b;
}

a {
	color: #454545;
}

/* Spacer + Sections */

.spacer.red, .section.red {
	background: #830d19;
	color: #f7f7f7;
}

.section.grey {
	background: #f2f2f2;
}

.spacer.green, .section.green h4 {
	color: #fff;
}

.spacer.yellow, .section.yellow {
	background: #fabe1e;
	color: #003c5f;
}

.section.orange h4, .section.red h4, .section.red h2 {
	color: #f7f7f7;
}

.section.grey h4, #works h4 {
	color: #64000a;
}

.section.orange p, .section.red p, .section.red ul {
	color: #f7f7f7;
}

.navbar .brand a:hover {
	color: #830d19;
}

ul#menu-main>li>a:hover {
	color: #830d19;
}

ul#menu-main>li>a:focus, ul#menu-main>li>a:active, ul#menu-main>li>a.selected, ul#menu-main li a.selected:active {
	color: #830d19;
}

#header-wrapper h1 span {
	color: #830d19;
}

#header-wrapper input[type=submit] {
	background: #830d19 !important;
}

#theme-form input[type=submit] {
	background: #830d19 !important;
}

.btn.btn-theme {
	background: #333 !important;
}

/* blog */

.home-post .post-meta {
	background: #f7f7f7;
	color: #830d19;
}

.home-post .post-meta span.tags a {
	color: #830d19;
}

/* com */

.tabbable ul.nav-tabs li.active a, .tabbable ul.nav-tabs li a:hover {
	color: #830d19;
}

.accordion .accordion-heading a.active {
	color: #830d19;
}

#tweet ul li a {
	color: #830d19;
}

/* works */

#filters ul li a:hover h5, #filters ul li a.active h5 {
	background: #830d19;
	border-color: #830d19;
}

.portfolio .portfolio-overlay {
	background: #830d19;
}

/* icon */

i.icon-bgdark:hover {
	background: #830d19;
}

i.icon-bgdark.active {
	background: #830d19;
}