::-moz-selection {
	color: #333;
	background: #a8e2dc;
}

::selection {
	color: #333;
	background: #fbeb78;
}

body {
	background: #fff;
	color: #313131;
}

h1, h2, h3, h4, h5, h6 {
	color: #312f2b;
}

a {
	color: #454545;
}

.spacer.green, .section.green {
	background: #8ACFE7;
	color: #f7f7f7;
}

.section.orange h4, .section.green h4 {
	color: #64000A;
}

.section.orange p, .section.green p, .section.green ul {
	color: #313131;
}

.navbar .brand a:hover {
	color: #a8e2dc;
}

ul#menu-main>li>a:hover {
	color: #a8e2dc;
}

ul#menu-main>li>a:focus, ul#menu-main>li>a:active, ul#menu-main>li>a.selected, ul#menu-main li a.selected:active {
	color: #a8e2dc;
}

#header-wrapper h1 span {
	color: #a8e2dc;
}

#header-wrapper input[type=submit] {
	background: #a8e2dc !important;
}

#theme-form input[type=submit] {
	background: #a8e2dc !important;
}

.btn.btn-theme {
	background: #333 !important;
}

/* blog */

.home-post .post-meta {
	background: #fbeb78;
}

/* com */

.tabbable ul.nav-tabs li.active a, .tabbable ul.nav-tabs li a:hover {
	color: #a8e2dc;
}

.accordion .accordion-heading a.active {
	color: #a8e2dc;
}

#tweet ul li a {
	color: #a8e2dc;
}

/* works */

#filters ul li a:hover h5, #filters ul li a.active h5 {
	background: #a8e2dc;
	border-color: #a8e2dc;
}

.portfolio .portfolio-overlay {
	background: #a8e2dc;
}

/* icon */

i.icon-bgdark:hover {
	background: #a8e2dc;
}

i.icon-bgdark.active {
	background: #a8e2dc;
}